.container {
    max-width: 1000px;
    margin: 0 auto;
}

header {
    .container {
        display: flex;
        justify-content: space-between;
        nav {
            ul {
                list-style: none;
                display: flex;

                li {
                    text-align: center;

                    a {
                        color: gray;
                        text-decoration: none;

                        &:hover {
                            text-decoration: underline;
                            color: orange;
                        }
                    }
                }
            }
        }
    }
}